body {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    text-shadow: 1px 1px 2px black;
}

button {
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 33px;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
    transition: 0.3s ease;
}

#generate {
    margin-right: 5px;
}

#generate:hover, #copy:hover {
    transform: scale(1.2);
    background-color: bisque;
}